<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>

    <Feature Id="ServiceFeature" Title="Служба пускателя" Level="1">
      <ComponentGroupRef Id ="ServiceComponent"/>
      <ComponentRef Id ="ServiceComponentFolderRemoveFolder"/>
    </Feature>

  </Fragment>
</Wix>
