<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>

  <Product Id="$(var.ProductCode)"
           Name="$(var.ProductName)"
           Language="1049" Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade AllowDowngrades="no" AllowSameVersionUpgrades="no"
      DowngradeErrorMessage="A later version of $(var.ProductName) is already installed. Setup will now exit."/>
		<MediaTemplate EmbedCab="yes"/>
    
    <FeatureRef Id="ServiceFeature"/>

    <Icon Id="icon.ico" SourceFile="..\ChatMessengersServiceInstaller\Resource\icon.ico"/>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION"></Property>
    <Property Id="ARPPRODUCTICON" Value="icon.ico"></Property>
    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="..\ChatMessengersServiceInstaller\Resource\License.rtf"/>
    <UIRef Id="WixUI_InstallDir"/>
    
	</Product>

</Wix>
